$maxmobile: "(max-width: 767px)";
$maxsmall: "(max-width: 991px)";
$minsmall: "(min-width: 768px)";
$minmedium: "(min-width: 992px)";

$float-left: left;
$float-right: right;

$text-left: left;
$text-right: right;

$whitecolor: #ffffff;
$paragraphcolor: #797979;
$headingcolor: #333333;
$linecolor: #f38181;
$greencolor: #3bd3ba;
